.message {
    width: fit-content;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.message__user {
    margin-left: auto;
    color: #e9e9eb;
    text-align: left !important;
}

.message__userCard {
    background-color: #0b81ff !important;
    color: white !important;
}

.message__guestCard {
    background-color: #e9e9eb !important;
}